# Activity: Explore hypothesis testing

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
aqi = pd.read_csv('c4_epa_air_quality.csv')

In [3]:
aqi.head(5)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [4]:
aqi.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  260.000000       260.000000  260.000000
mean   129.500000         0.403169    6.757692
std     75.199734         0.317902    7.061707
min      0.000000         0.000000    0.000000
25%     64.750000         0.200000    2.000000
50%    129.500000         0.276315    5.000000
75%    194.250000         0.516009    9.000000
max    259.000000         1.921053   50.000000

### does the AQI (air quality index) in LA differ from the other California counties?

In [5]:
# Create dataframes for each sample being compared in your test
losangeles = aqi[aqi['county_name'] == "Los Angeles"]
california = aqi[aqi['state_name'] == "California"]
caliNoLA = california[california['county_name'] != "Los Angeles"]

# la_aqi_mean = round(losangeles['aqi'].mean(), 3) - value is 16.268
# cali_aqi_mean = round(caliNoLA['aqi'].mean(), 3) - value is 11.0

In [6]:
stats.ttest_ind(a=losangeles['aqi'], b=caliNoLA['aqi'], equal_var=False)

Ttest_indResult(statistic=2.1107010796372014, pvalue=0.049839056842410995)

In [7]:
# significance level is 5%, and p-value is .0498 or 4.98%

# so there is statistical significance to the measured AQI in LA compared to other California counties.

### does New York have a lower AQI than Ohio?

In [8]:
newyork = aqi[aqi['state_name'] == "New York"]
ohio = aqi[aqi['state_name'] == "Ohio"]

# ny_aqi_mean = round(newyork['aqi'].mean(), 3) - value is 2.5
# ohio_aqi_mean = round(ohio['aqi'].mean(), 3) - value is 3.33

In [9]:
stats.ttest_ind(a=newyork['aqi'], b=ohio['aqi'], alternative='less', equal_var=False)

Ttest_indResult(statistic=-2.025951038880333, pvalue=0.030446502691934697)

In [10]:
# null hypothesis is that New York's average AQI is greater than or equal to Ohio's

# since the significance level is 5%, and p-value is ~.03 or 3%,

# we reject the null hypothesis and say 
# New York's lower AQI to Ohio's is statistically significant

###  (hypothetical) a new policy will affect states with a mean AQI of 10 or greater. Will Michigan be affected by this new policy?

In [11]:
michigan = aqi[aqi['state_name'] == "Michigan"]

# michigan['aqi'].mean() - value is 8.11

In [12]:
stats.ttest_1samp(michigan['aqi'], 10, alternative='greater')

Ttest_1sampResult(statistic=-1.7395913343286131, pvalue=0.9399405193140109)

In [13]:
# null hypothesis is Michigan's AQI is less than or equal to 10

# since the significance level is 5%, p-value is ~.94 or 94%, and t-statistic is < 0 (-1.74),

# we fail to reject the null hypothesis and say michigan's AQI is most likely not over 10,
# and wouldn't be affected by the hypothetical new policy.